body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:870px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:29px;
  width:840px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  word-wrap:break-word;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:487px;
  width:120px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:116px;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:461px;
  width:110px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:44px;
  width:110px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:200px;
  width:120px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:116px;
  word-wrap:break-word;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:564px;
  width:120px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:116px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:280px;
  width:110px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:634px;
  width:110px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:583px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u8_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u8_seg1 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-91px;
  width:8px;
  height:95px;
}
#u8_seg2 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-91px;
  width:10px;
  height:8px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:584px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u9_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u9_seg1 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-4px;
  width:8px;
  height:93px;
}
#u9_seg2 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:81px;
  width:16px;
  height:8px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:866px;
  width:120px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:116px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:858px;
  width:110px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:889px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u12_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:5px;
}
#u12_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-3px;
  width:61px;
  height:8px;
}
#u12_seg2 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-3px;
  width:8px;
  height:8px;
}
#u12_seg3 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-3px;
  width:13px;
  height:8px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:812px;
  width:165px;
  height:42px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:161px;
  word-wrap:break-word;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:882px;
  width:165px;
  height:42px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:161px;
  word-wrap:break-word;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:951px;
  width:165px;
  height:42px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:161px;
  word-wrap:break-word;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:602px;
  width:165px;
  height:42px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:161px;
  word-wrap:break-word;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:662px;
  width:165px;
  height:42px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:161px;
  word-wrap:break-word;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:685px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u18_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u18_seg1 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-66px;
  width:8px;
  height:70px;
}
#u18_seg2 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-66px;
  width:16px;
  height:8px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:686px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u19_seg1 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-4px;
  width:8px;
  height:73px;
}
#u19_seg2 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:61px;
  width:16px;
  height:8px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:411px;
  width:145px;
  height:37px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:141px;
  word-wrap:break-word;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:463px;
  width:145px;
  height:37px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:141px;
  word-wrap:break-word;
}
#u22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:512px;
  width:145px;
  height:37px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:141px;
  word-wrap:break-word;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:497px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u23_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u23_seg1 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-71px;
  width:8px;
  height:75px;
}
#u23_seg2 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-71px;
  width:13px;
  height:8px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:498px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u24_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u24_seg1 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-4px;
  width:8px;
  height:41px;
}
#u24_seg2 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:29px;
  width:13px;
  height:8px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:730px;
  width:165px;
  height:42px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:161px;
  word-wrap:break-word;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:209px;
  width:146px;
  height:37px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:142px;
  word-wrap:break-word;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:46px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:293px;
  width:146px;
  height:46px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:142px;
  word-wrap:break-word;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:343px;
  width:151px;
  height:37px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:320px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u29_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u29_seg1 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-142px;
  width:8px;
  height:146px;
}
#u29_seg2 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-142px;
  width:12px;
  height:8px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-53px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:321px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u30_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u30_seg1 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-4px;
  width:8px;
  height:44px;
}
#u30_seg2 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:32px;
  width:11px;
  height:8px;
}
#u30_seg3 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:32px;
  width:8px;
  height:23px;
}
#u30_seg4 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:47px;
  width:14px;
  height:8px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:44px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:152px;
  width:142px;
  height:44px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:35px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:254px;
  width:149px;
  height:35px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:145px;
  word-wrap:break-word;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:230px;
  width:0px;
  height:0px;
}
#u33_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:77px;
  height:8px;
}
#u33_seg1 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:-155px;
  width:8px;
  height:159px;
}
#u33_seg2 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:-155px;
  width:17px;
  height:8px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:23px;
  top:-54px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:230px;
  width:0px;
  height:0px;
}
#u34_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:77px;
  height:8px;
}
#u34_seg1 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:-4px;
  width:8px;
  height:93px;
}
#u34_seg2 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:81px;
  width:17px;
  height:8px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:23px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:44px;
  width:144px;
  height:28px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:74px;
  width:144px;
  height:28px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:104px;
  width:144px;
  height:28px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:79px;
  width:0px;
  height:0px;
}
#u38_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:51px;
  height:8px;
}
#u38_seg1 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-25px;
  width:8px;
  height:29px;
}
#u38_seg2 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-25px;
  width:14px;
  height:8px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:79px;
  width:0px;
  height:0px;
}
#u39_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:51px;
  height:8px;
}
#u39_seg1 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-4px;
  width:8px;
  height:47px;
}
#u39_seg2 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:35px;
  width:14px;
  height:8px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:517px;
  width:0px;
  height:0px;
}
#u40_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u40_seg1 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:-4px;
  width:8px;
  height:385px;
}
#u40_seg2 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:373px;
  width:16px;
  height:8px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:152px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:892px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u41_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u41_seg1 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-66px;
  width:8px;
  height:70px;
}
#u41_seg2 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-66px;
  width:16px;
  height:8px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:893px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u42_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u42_seg1 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-4px;
  width:8px;
  height:73px;
}
#u42_seg2 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:61px;
  width:16px;
  height:8px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:517px;
  width:0px;
  height:0px;
}
#u43_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u43_seg1 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-291px;
  width:8px;
  height:295px;
}
#u43_seg2 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-291px;
  width:21px;
  height:8px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-130px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
